language: node_js

node_js:
  - 10

cache:
  directories:
    - ~/.npm
    - ~/.cache

branches:
  only:
    - master
    - develop
    - /release\/*/

install:
  - npm ci

before_script:
  - npm start -- --silent &

script:
  - npm run cypress:run:record